<?xml version="1.0"?>
<launch>
  <node  pkg="robocentric_control" type="vision_detect" name="vision_detect_node" output="screen" />
  <node  pkg="robocentric_control" type="state_estim" name="state_estim_node" output="screen" />
  <node  pkg="offboard" type="offboard_node" name="offboard_node" output="screen" />

</launch>
